<li>
	{{name}}

	<button class="change-consumed" data-id="{{id}}" data-newConsume="{{consumed}}">
		{{#if consumed}}TIME TO EAT!{{else}}PLEASE LETS HAVE ANOTHER!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
